body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f8f9fa; /* couleur de texte */
    background: url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    text-align: right;
    padding: 10px;
    background-color: rgba(52, 58, 64, 0.75); /* fond semi-transparent */
}

button {
    padding: 5px 10px;
    font-size: 1em;
    background-color: #f8f9fa; /* couleur de fond du bouton */
    color: #343a40; /* couleur de texte du bouton */
    border: none;
}

button:hover {
    background-color: #e2e6ea; /* couleur de fond du bouton lors du survol */
}

main {
    padding: 20px;
    background-color: rgba(52, 58, 64, 0.75); /* fond semi-transparent */
    color: #f8f9fa; /* couleur de texte */
}

@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    button {
        font-size: .8em;
    }

    main {
        padding: 10px;
    }
}
